<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>lab.Controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>lab.Controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertController</servlet-name>
        <servlet-class>lab.Controllers.insertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAvatar</servlet-name>
        <servlet-class>lab.Controllers.addAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPhotoController</servlet-name>
        <servlet-class>lab.Controllers.addPhotoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllUser</servlet-name>
        <servlet-class>lab.Controllers.viewAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUserController</servlet-name>
        <servlet-class>lab.Controllers.searchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserController</servlet-name>
        <servlet-class>lab.Controllers.deleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateController</servlet-name>
        <servlet-class>lab.Controllers.updateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignPromotionList</servlet-name>
        <servlet-class>lab.Controllers.assignPromotionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignPromotionListController</servlet-name>
        <servlet-class>lab.Controllers.assignPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPromotionListController</servlet-name>
        <servlet-class>lab.Controllers.loadPromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removePromotionListController</servlet-name>
        <servlet-class>lab.Controllers.removePromotionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPromotionListController</servlet-name>
        <servlet-class>lab.Controllers.editPromotionListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertController</servlet-name>
        <url-pattern>/insertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAvatar</servlet-name>
        <url-pattern>/addAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPhotoController</servlet-name>
        <url-pattern>/addPhotoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllUser</servlet-name>
        <url-pattern>/viewAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUserController</servlet-name>
        <url-pattern>/searchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserController</servlet-name>
        <url-pattern>/deleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateController</servlet-name>
        <url-pattern>/updateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignPromotionList</servlet-name>
        <url-pattern>/assignPromotionList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignPromotionListController</servlet-name>
        <url-pattern>/assignPromotionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPromotionListController</servlet-name>
        <url-pattern>/loadPromotionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removePromotionListController</servlet-name>
        <url-pattern>/removePromotionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPromotionListController</servlet-name>
        <url-pattern>/editPromotionListController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
